.wrapper {
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.content {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
