.btn-lang {
    width: 100%;
    border-radius: 0;
    color: #444 !important;
    &:hover {
        background-color: #f5f5f5;
    }
}
.content {
    min-width: 206px;
}

// menu header
.icon-back {
    font-size: 16px;
    padding: 4px 6px;

    color: #000;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 9px 0;
}
.back-btn {
    position: absolute;
    left: 20px;
}
.header-title {
}
.separate {
    border-top: 2px solid #f2f2f2;
}
